@font-face {
  font-family: Impact, sans-serif;
  src: url(../fonts/impact.woff2);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #040404;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

.big-container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  max-width: 920px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.menu-list {
  display: flex;
  gap: 0 40px;
  padding-top: 25px;
}

.menu-left {
  padding-left: 25px;
}

.menu-right {
  padding-right: 86px;
}

.menu-link {
  color: #363636;
  font-size: 16px;
}

.promo {
  background-image: url('./../images/promo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding-top: 100px;
}

.title {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 76px;
  letter-spacing: 0.02em;
}

.subtitle {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 10px;
  align-self: center;
}

.subtitle span {
  display: block;
  font-family: 'Impact';
  font-weight: 400;
  font-size: 34px;
  color: #9F6B08;
  border-bottom: 1px solid #040404;
  padding: 10px 0;
}

.promo__text {
  color: #363636;
  font-size: 16px;
  margin-bottom: 10px;
}

.promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}

.info {
  margin-bottom: 100px;
}

.info__part {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.info__part-one {
  display: block;
}

.info__part-two .info__text {
  max-width: 352px;
}

.info__part-three .info__text {
  max-width: 316px;
}

.info__part-three {
  padding-top: 66px;
}

.info__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
}

.info__part-textbox {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.info__text {
  flex-basis: 440px;
  margin-bottom: 30px;
}

.info__part-img {
  object-fit: cover;
}

.info__content {
  flex-basis: 415px;
}

.info__table {
  flex-basis: 450px;
  border-bottom: 1px solid #040404;
  position: relative;
  top: 20px;
}

.info__table td {
  padding-bottom: 20px;
}

.info__table::before {
  border-top: 1px solid #040404;
  content: '';
  position: absolute;
  width: 100%;
  top: -20px;
}

.track {
  background-image: url(../images/trackBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.track__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.track__title {
  padding-top: 47px;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

.track__text {
  max-width: 435px;
}

.track__img {
  margin: auto auto 90px auto;
}

.evo {
  font-size: 14px;
  margin-bottom: 100px;
}

.evo-black {
  background-color: #363636;
  padding: 100px 0 50px;
  color: #fff;
}

.evo-black__inner {
  position: relative;
}

.evo-black__inner::before {
  content: '';
  position: absolute;
  background: url(/images/decor/dec-1.svg);
  width: 185px;
  height: 213px;
  top: 205px;
  left: -150px;
}

.evo-black__inner::after {
  content: '';
  position: absolute;
  background: url(/images/decor/dec-2.svg);
  width: 498px;
  height: 572px;
  top: 288px;
  left: -40px;
}

.evo-black__info {
  display: flex;
  justify-content: space-between;
}

.evo-black__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 32px;
  padding-right: 50px;
}

.evo-black__infobox {
  flex-basis: 437px;
}

.evo-black__text {
  font-size: 14px;
  margin-bottom: 30px;
}

.evo-black__img {
  display: block;
  margin: 168px auto 58px;
  position: relative;
  z-index: 1;
}

.evo__descr-list {
  display: flex;
  justify-content: center;
  gap: 0 60px;
}

.evo__descr-list dd {
  text-transform: uppercase;
}

.evo-white__inner {
  padding-top: 126px;
  position: relative;
}

.evo-white__inner::before {
  content: '';
  position: absolute;
  background: url(/images/decor/dec-3.png);
  width: 274px;
  height: 250px;
  top: -25px;
  right: 262px;
}

.evo-white__inner::after {
  content: '';
  position: absolute;
  background: url(/images/decor/dec-4.png);
  width: 324px;
  height: 302px;
  top: 130px;
  right: -40px;
}

.evo-white__text {
  margin-bottom: 30px;
}

.evo-white__text:first-child {
  max-width: 285px;
}

.evo-white__text:nth-child(2) {
  max-width: 437px;
}

.evo-white__text:nth-child(3) {
  max-width: 590px;
}

.evo-white__video {
  margin-top: 100px;
  background: url(/images/evo-video.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.evo-white__video-link span {
  display: block;
  color: #fff;
}

.blog {
  margin-bottom: 100px;
}

.blog__title {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.swiper-wrapper {
  position: relative;
  padding-top: 50px;
  margin-bottom: 100px;
}

.blog__item-img {
  margin-bottom: 20px;
}

.blog__item-title {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  min-height: 46px;
  margin-bottom: 10px;
}

.blog__item-text {
  margin-bottom: 10px;
}

.blog__item-link {
  font-size: 12px;
  color: #363636;
}

.blog__button {
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 1;
  left: 50%;
}

.swiper-button-left {
  transform: translateX(-40px);
}

.swiper-button-right {
  transform: translateX(7px);
}

.blog__quote {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.blog__quote-box {
  flex-basis: 438px;
}

.blockquote {
  margin-bottom: 30px;
}

.blockquote__name {
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.blockquote__name span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #9F6B08;
  margin-bottom: 3px;
}

.blockquote__text {
  font-style: italic;
}

.blog__quote-img {
  flex-basis: 434px;
}

.footer {
  background-color: #363636;
  color: #fff;
  padding: 100px 0 80px;
}

.footer__title {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.container {}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__info {}

.footer__info li {
  list-style: none;
}

.footer__info-item {
  margin-bottom: 40px;
}

.footer__info-item dt {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.social__list {
  display: flex;
}

.social__list-item {
  list-style: none;
}

.social__list-link {}

.social__list-icon {}

.footer__address {}

.footer__address-title {}

.footer__address-text {}

.footer__bottom {}

.footer__bottom-link {}

.footer__logo {}

.footer__logo-img {}